GettingStarted/DangerousUI/Bin/
GettingStarted/DangerousUI/PerfLogs/Cache8.0.105120/DangerousUI1462312820/DangerousUI.ni.DLL
GettingStarted/DangerousUI/PerfLogs/
GettingStarted/DangerousUI/obj/
GettingStarted/GettingStarted/Bin/
GettingStarted/GettingStarted/PerfLogs/
GettingStarted/GettingStarted/obj/
GettingStarted/packages/
*.sap
*.pptx
